html, body {
  font: 18px/27px Arial, sans-serif;
}

html {
  background: #333;
  color: #fafafa; 
}

#msg {
  position: absolute;
  left: 0;
  right: 0;
}

#instructions {
  position: absolute;
  top: 1em;
  color: #fff;
  font-size: 11px;
  text-align: center;
  margin: 0 20px;
  width: 100%;
}

body canvas {
  box-shadow: 0 0 64px black;
  position: relative;
}

body .pad > div {
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 8px #999999;
}

#lag {
  bottom: 0;
  font-size: 11px;
  position: absolute;
  right: 20px;
}
#lag,
#lag a {
  color: #fafafa;
  text-shadow: -1px -1px #222;
}


a,
a:visited {
  color: #00f;
}
