html, body {
  font: 18px/27px Arial, sans-serif;
  text-shadow: 1px 1px 1px white;
}
h1, h2, h3, h4 { font-family: 'Federo', sans-serif; }
h1 { font-size: 5em /*60px/68px;*/; line-height: 1em; margin: 0; } /* 80px */
h2 { font-size: 50px/57px; }
h3 { font-size: 40px/47px; }
h4 { font-size: 30px/37px; }

html {
  background: #333;
  color: #333; 
}

.center {
  width: 80%;
  margin: 4% auto;
  padding: 6%;
}

.msg {
  position: absolute;
  left: 0;
  right: 0;
}

body canvas {
  box-shadow: 0 0 64px black;
  position: relative;
}

body .pad > div {
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 8px #999999;
}

#lag {
  bottom: 0;
  font-size: 11px;
  position: absolute;
  right: 20px;
}
#lag,
#lag a {
  color: #444;
  text-shadow: -1px -1px #222;
}


a,
a:visited {
  color: #00f;
}